<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    EDIT PAGE
    <form action="/friend/update/{{user.id}}" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" value="{{user.first_name}}">
        <input type="text" name="last_name" value="{{user.last_name}}">
        <input type="email" name="email" value="{{user.email}}">
        <input type="submit" value="Edit your profile">
    </form>


</body>
</html>